{% extends "base.html" %}
{% comment %}
  extend from kwaddle's base.html, to get shared nav bar and analytics scripts to load
{% endcomment %}

{% block title %}{{ post.title }}{% endblock %}

{% block nav %}
    {% with selected_nav_page_name="resource_article" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block meta-description %}
  {% if post.description %}
      <meta name="description" content="{{ post.description }}">
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock meta-description %}


{% block extraheader %}
    {{ block.super }}
    <meta name="twitter:card" content="summary">
    {% comment %}
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/62846141/pinaxproject_avatar.png">
    {% endcomment %}
    <meta property="og:title" content="{{ post.title }}">
    {% if post.description %}
        <meta name="description" content="{{ post.description }}">
        <meta property="og:description" content="{{ post.description }}">
    {% else %}
        <meta name="description" content="{{ post.description }}">
        <meta property="og:description" content="{{ post.description }}">
    {% endif %}
    {% if post.primary_image %}
        <meta property="og:image" content="http://{{ SITE_DOMAIN }}{{ post.primary_image.image_path.url }}">
    {% else %}
        {% comment %}
        <meta property="og:image" content="https://pbs.twimg.com/profile_images/62846141/pinaxproject_avatar.png">
        {% endcomment %}
    {% endif %}
    <meta property="og:url" content="https://www.kwaddle.com{{ post.get_absolute_url }}">
    <meta property="og:type" content="article">
{% endblock %}

{% block body %}
<div class="blog-post container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <!-- a hrefs need to be able to navigate to resources/evergreen/categories/timebased articles -->
                    <li class="breadcrumb-item active"><a href="{% url 'pinax_blog:blog' %}">Resources</a></li>
                    <!-- <li class="breadcrumb-item" aria-current="page"><a href="#">Evergreen</a></li>
                    <li class="breadcrumb-item"><a href="#">Category</a></li> -->
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="post-detail">
                <div class="post">
                    <h1>{{ post.title }}</h1>

                    <div class="content">{{ post.content_html|safe }}</div>

                    <div class="twitter-button">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="">Tweet</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
