{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block nav %}
    {% with selected_nav_page_name="resource_article" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block meta-description %}
  <meta name="description" content="Whether you child has dyslexia or ADHD or wants to be a professional dancer or rocket scientist, we have the best collection of resources to help you find the perfect camps, classes, and enrichment programs to fit your child.">
{% endblock meta-description %}


{% block body %}
<div class="blog-list container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="pinax_blog:blog">Resources</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col">
    {% if post_list %}
        <div class="post-list">
            {% for post in post_list %}
                <div class="post">
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>                    
                    <div class="teaser">{{ post.description }}</div>
                    <p class="more"><a href="{{ post.get_absolute_url }}" class="post-link read-more">read more...</a></p>
                </div>
                <hr>
            {% endfor %}
        </div>
        {% include "pinax/_pagination.html" %}
    {% else %}
        <p class="alert alert-info lead">No blog posts have been published.</p>
    {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
